header{
    height: 150px;
    width: 100%;
    background-color:  #25076b;
    color: white;
    text-align: center;
    padding: 50px;
}

.pseudo{
    height: 812px;
    width: 100%;
    background-color: #47178f;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 200px;
}

.example{
    height: 60px;
    width: 50%;
    background-color: white;
    color: gray;
    text-align: center;
    padding: 15px;
    border-radius: 30px;
    margin: auto;
}