.navbar {
    background: #25076b;
}

body {
    background: #47178f;
}

.goButton {
    background: #25076b;
}
/* 
.form {
    position: absolute;
    top: 35%;
    width: 100rem;
    height: 150px;
}
*/
@media screen and (max-width : 600px) {

    .form {
        width: 13rem;
    }
} 

.footer {
    background-color: #25076b;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

.qrButton {
    background-color: black;
}

.modal {
    position: fixed;
    z-index: 2000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
