.navbar {
    background: #47178f;
}

body {
    background: #25076b;
}

.goButton {
    background: #47178f;
}
/* 
.form {
    position: absolute;
    top: 35%;
    width: 100rem;
    height: 150px;
}

@media screen and (max-width : 600px) {

    .form {
        position: relative;
        top: 35%;
        width: 13rem;
        height: 150px;

    }
} */