.navbar {
    background: #25076b;
}
.header
{
    background-color:  #25076b;
    text-align: center;
}
body {
    background: #47178f;
}
.goButton {
    background: #25076b;
}
.footer {
    background-color: #25076b;
    position: absolute;
    bottom: 0;
}
.pseudo{
    text-align: center;
    font-size: 1.5em;
    padding: 8em;
}

.example{
    background-color: white;
    color: gray;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}
