.navbar {
    background: #25076b;
}
.header
{
    background-color:  #25076b;
    text-align: center;
}
body {
    background: #47178f;
}
.goButton {
    background: #25076b;
}
.footer {
    background-color: #25076b;
    position: absolute;
    bottom: 0;
    height: 3em;
}
.pseudo{
    height: 100%;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.example{
    height: 3em;
    width: 30em;
    background-color: white;
    color: gray;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .pseudo{
        width: 50%;
    }
}
